---
import Layout from "../layouts/Layout.astro";

const code = `<span class="text-blue-600">const</span> <span class="text-pink-600">bio</span> <span class="text-white">=</span> <span class="text-purple-600">{</span>
  <span class="text-sky-600">husband:</span> <span class="text-orange-600">true</span><span class="text-white">,</span>
  <span class="text-sky-600">dad:</span> <span class="text-orange-600">true</span><span class="text-white">,</span>
  <span class="text-sky-600">career:</span> <span class="text-yellow-600">'Software Engineer'</span>'</span><span class="text-white">,</span>
  <span class="text-sky-600">dev:</span> <span class="text-yellow-600">'html|css|scss|js|ts'</span><span class="text-white">,</span>
  <span class="text-sky-600">quotes:</span> <span class="text-yellow-600">'Single'</span></span><span class="text-white">,</span>
  <span class="text-sky-600">spaces:</span> <span class="text-green-600">2</span><span class="text-white">,</span>
  <span class="text-sky-600">food:</span> <span class="text-yellow-600">'Tacos'</span></span><span class="text-white">,</span>
  <span class="text-sky-600">drink:</span> <span class="text-yellow-600">'Beer|Whiskey'</span></span><span class="text-white">,</span>
<span class="text-purple-600">}</span><span class="text-white">;</span>`;
---

<Layout title="Informational : Fun and silly information about myself.">
  <div class="relative font-poppins px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-6xl">
      <div class="text-left">
        <h1 class="text-4xl text-purple-500 font-bold sm:text-6xl">Informational</h1>
      </div>
      <p class="mt-6 text-lg leading-8 text-white">
        Just a really chill guy residing right at the bottom of Southern New Jersey in a small beach town neighboring <a
          class="text-purple-500"
          href="https://www.google.com/maps?q=cape+may+new+jersey&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiaw-O6pu73AhVMhYkEHTWLBgUQ_AUoAXoECAIQAw"
          target="_blank"
          rel="noreferrer">Cape May</a
        >. I don't surf, but really do enjoy going on family bike rides along side the beach. I also love a good burger
        and some carne asada tacos.
      </p>
      <p class="mt-6 text-lg leading-8 text-white">
        Like many others, in my freetime I've got some hobbies that help me to enjoy life with family or get some
        relaxing alone time.
      </p>
      <p class="mt-6 text-lg leading-8 text-white">
        <strong class="text-blue-500">Playing Games.</strong> Of course videos games (<a
          class="text-purple-500"
          href="https://www.youtube.com/watch?v=E3Huy2cdih0"
          target="_blank"
          rel="noreferrer">Elden Ring</a
        > and <a
          class="text-purple-500"
          href="https://www.youtube.com/watch?v=UnA7tepsc7s"
          target="_blank"
          rel="noreferrer">Cyber Punk</a
        >) but not always. Losing yourself in a board game with my family is by far the best of the best.
      </p>
      <p class="mt-6 text-lg leading-8 text-white">
        <strong class="text-blue-500">Making beer.</strong> A relatively new hobbie that I recently started is learning
        how to properly make beer. It's such a pretty relaxing thing to do where it has become a personal goal to open
        up a micro brewery. So far I have brewed around 20 different batches of beer, some turned out very good but
        there were many failures...aka, the learning process.
      </p>
      <p class="mt-6 text-lg leading-8 text-white">
        <strong class="text-blue-500">Music.</strong> Whether I'm listening or playing it, music will always have that
        special place in my heart. Checkout some of the playlists I put together and current music that I am binging <a
          class="text-purple-500"
          href="/music">here</a
        >.
      </p>
      <p class="mt-5">
        <pre><code set:html={code} /></pre>
      </p>
    </div>
  </div>
</Layout>
