---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hi, I'm Pete : Software Engineer, Designer, Homebrewer">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-20 sm:py-30 lg:py-25">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
          <span class="text-blue-500">Hi,</span> I'm Pete.
        </h1>
        <p class="mt-6 text-lg leading-8 text-white">Software Engineer, Designer, Homebrewer</p>
      </div>
    </div>
  </div>
</Layout>
