---
import Layout from "../layouts/Layout.astro";
import FancyBackground from "../components/FancyBackground.tsx";
import HiddenMickey from "../components/HiddenMickey.tsx";
import IndexPageText from "../components/IndexPageText.tsx";
import XYPosition from "../components/XYPosition.tsx";
---

<Layout title="Hi, I'm Pete : Software Engineer, Designer, Homebrewer">
  <FancyBackground client:only="react" />
  <XYPosition client:only="react" />
  <HiddenMickey client:only="react" />
  <div class="relative isolate mt-24 mx-auto w-fit text-center">
    <IndexPageText client:only="react" />
  </div>
</Layout>
