---
import Layout from "../layouts/Layout.astro";
import SpotifyPlaylists from "../components/SpotifyPlaylists.tsx";
import YoutubeVideos from "../components/YoutubeVideos.tsx";
---

<Layout title="Music : It's the world.">
  <div class="relative font-poppins px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-6xl">
      <div class="text-left">
        <h1 class="text-4xl text-pink-500 font-bold sm:text-6xl">Music</h1>
      </div>
      <div class="mt-6 text-left">
        <h2 class="text-xl text-green-500">Spotify Playlists</h2>
      </div>
      <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <SpotifyPlaylists />
      </div>
      <div class="text-left">
        <h2 class="text-xl text-red-500">Youtube</h2>
      </div>
      <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <YoutubeVideos />
      </div>
    </div>
  </div>
</Layout>
