---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminal : Command it to do something.">
  <div class="relative font-poppins px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-6xl">
      <h1 class="text-4xl text-pink-500 font-bold sm:text-6xl">Music</h1>
      <div class="flex flex-wrap mt-6">
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/D1NdGBldg3w?si=O0kCLLoxAu2PnIIW"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/75Mw8r5gW8E?si=VtcAe1nUx4YGD5R2"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/CFlhlZbeKgE?si=l_H8qO8PDKisfvuC"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/7_TqLc-vETs?si=3z4DZatuEC-tVDbJ"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/3zAJ3LxMvqs?si=LtMKB4uttP82OepW"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="p-2">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/kdkMXbcC97I?si=HVLU5SxPxFStaXS-"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</Layout>
