---
import Layout from "../layouts/Layout.astro";
import TerminalComponent from "../components/Terminal.tsx";

function handleClick() {
  console.log("button clicked!");
}
---

<Layout title="Terminal : Command it to do something.">
  <div class="relative isolate">
    <TerminalComponent client:only />
  </div>
</Layout>
